.route {
  list-style-type: none;
  width: 450px;
  padding: 0px;
  margin: 0px;
}

.stop::before {
  content: "\200B";
  border-radius: 50%;
  height: 5px;
  width: 5px;
  display: inline-block;
  margin-right: 5px;
}

.stop.grey::before {
  border: 5px solid grey;
}

.stop.green::before {
  border: 5px solid green;
}

.stop {
  display: flex;
  margin: 5px;
}

.stopTime {
  margin-left: auto;
}

.stopName {}
